USE [master]
GO
/****** Object:  Database [changeit]    Script Date: 24/06/2021 23:15:32 ******/
CREATE DATABASE [changeit]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'changeit', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\changeit.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'changeit_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\changeit_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [changeit].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [changeit]
GO
/****** Object:  Table [dbo].[TipoHabitos]    Script Date: 24/06/2021 23:15:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoHabitos](
	[tipoid] [smallint] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
	[medida] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_TipoHabitos] PRIMARY KEY CLUSTERED 
(
	[tipoid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VerTipoHabitosNombres]    Script Date: 24/06/2021 23:15:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VerTipoHabitosNombres]
AS SELECT nombre FROM dbo.TipoHabitos;
GO
/****** Object:  Table [dbo].[TipoReaccion]    Script Date: 24/06/2021 23:15:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoReaccion](
	[tiporeaccionid] [smallint] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
	[URL] [nvarchar](128) NULL,
 CONSTRAINT [PK_TipoReaccion] PRIMARY KEY CLUSTERED 
(
	[tiporeaccionid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VerTipoReaccion]    Script Date: 24/06/2021 23:15:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VerTipoReaccion]
AS SELECT nombre FROM dbo.Tiporeaccion;
GO
/****** Object:  Table [dbo].[RedesSociales]    Script Date: 24/06/2021 23:15:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RedesSociales](
	[redessocialesid] [smallint] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
	[URL] [nvarchar](128) NOT NULL,
	[iconoURL] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_RedesSociales] PRIMARY KEY CLUSTERED 
(
	[redessocialesid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VerRedesSociales]    Script Date: 24/06/2021 23:15:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VerRedesSociales] 
AS SELECT * FROM RedesSociales;
GO
/****** Object:  Table [dbo].[Ads]    Script Date: 24/06/2021 23:15:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ads](
	[adid] [bigint] IDENTITY(1,1) NOT NULL,
	[URL] [nvarchar](128) NOT NULL,
	[vistas] [bigint] NOT NULL,
	[titulo] [nvarchar](50) NOT NULL,
	[descripcion] [nvarchar](100) NOT NULL,
	[habito] [int] NULL,
	[entidad] [tinyint] NOT NULL,
	[entidadreferenceid] [bigint] NOT NULL,
	[deleted] [bit] NOT NULL,
	[monto] [money] NOT NULL,
 CONSTRAINT [PK_Ads] PRIMARY KEY CLUSTERED 
(
	[adid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Aportes]    Script Date: 24/06/2021 23:15:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Aportes](
	[aporteid] [bigint] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[descripcion] [nvarchar](300) NOT NULL,
	[cantidad] [decimal](15, 3) NOT NULL,
	[habitoid] [int] NULL,
 CONSTRAINT [PK_Aportes] PRIMARY KEY CLUSTERED 
(
	[aporteid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AportesPorResumen]    Script Date: 24/06/2021 23:15:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AportesPorResumen](
	[aporte] [bigint] NOT NULL,
	[resumen] [bigint] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AppFuente]    Script Date: 24/06/2021 23:15:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppFuente](
	[appfuenteid] [int] IDENTITY(1,1) NOT NULL,
	[nombreappsource] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_AppFuente] PRIMARY KEY CLUSTERED 
(
	[appfuenteid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bitacoras]    Script Date: 24/06/2021 23:15:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bitacoras](
	[bitacoraid] [bigint] IDENTITY(1,1) NOT NULL,
	[fecha] [datetime] NOT NULL,
	[descripcion] [nvarchar](100) NOT NULL,
	[userbitacora] [bigint] NOT NULL,
	[ip] [varchar](16) NOT NULL,
	[refid1] [bigint] NOT NULL,
	[refid2] [bigint] NULL,
	[oldvalue] [nvarchar](50) NULL,
	[newvalue] [nvarchar](50) NULL,
	[checksum] [varbinary](500) NOT NULL,
	[severidadbit] [int] NOT NULL,
	[entitybit] [int] NOT NULL,
	[appfuentebit] [int] NOT NULL,
	[logtypebit] [int] NOT NULL,
 CONSTRAINT [PK_Bitacoras] PRIMARY KEY CLUSTERED 
(
	[bitacoraid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empresas]    Script Date: 24/06/2021 23:15:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empresas](
	[empresaid] [bigint] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[correo] [nvarchar](100) NOT NULL,
	[URL] [nvarchar](128) NULL,
 CONSTRAINT [PK_Empresas] PRIMARY KEY CLUSTERED 
(
	[empresaid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Entidad]    Script Date: 24/06/2021 23:15:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Entidad](
	[entidadid] [tinyint] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Entidad] PRIMARY KEY CLUSTERED 
(
	[entidadid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EntityTypes]    Script Date: 24/06/2021 23:15:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EntityTypes](
	[EntityTypes] [int] IDENTITY(1,1) NOT NULL,
	[nombreentity] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_EntityTypes] PRIMARY KEY CLUSTERED 
(
	[EntityTypes] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstadosPago]    Script Date: 24/06/2021 23:15:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadosPago](
	[estadopagoid] [smallint] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_EstadosPago] PRIMARY KEY CLUSTERED 
(
	[estadopagoid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Habitos]    Script Date: 24/06/2021 23:15:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Habitos](
	[habitoid] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
	[descripcion] [nvarchar](100) NOT NULL,
	[imagenURL] [nvarchar](128) NOT NULL,
	[deleted] [bit] NOT NULL,
	[fechainicio] [datetime] NULL,
	[fechafinal] [datetime] NULL,
	[tipohabito] [smallint] NOT NULL,
 CONSTRAINT [PK_Habitos] PRIMARY KEY CLUSTERED 
(
	[habitoid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HabitosAplicados]    Script Date: 24/06/2021 23:15:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HabitosAplicados](
	[habitoaplicadoid] [bigint] IDENTITY(1,1) NOT NULL,
	[usuario] [bigint] NOT NULL,
	[habito] [int] NOT NULL,
	[posttime] [datetime] NOT NULL,
 CONSTRAINT [PK_HabitosAplicados] PRIMARY KEY CLUSTERED 
(
	[habitoaplicadoid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HabitosPatrocinados]    Script Date: 24/06/2021 23:15:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HabitosPatrocinados](
	[habitopromocionadoid] [bigint] IDENTITY(1,1) NOT NULL,
	[habitoid] [int] NOT NULL,
	[monto] [money] NOT NULL,
	[checksum] [varbinary](300) NOT NULL,
	[radio] [smallint] NOT NULL,
	[entidad] [tinyint] NOT NULL,
	[entidadreferenceid] [bigint] NOT NULL,
	[deleted] [bit] NOT NULL,
 CONSTRAINT [PK_HabitosPatrocinados] PRIMARY KEY CLUSTERED 
(
	[habitopromocionadoid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HabitosPorResumenes]    Script Date: 24/06/2021 23:15:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HabitosPorResumenes](
	[habito] [bigint] NOT NULL,
	[resumen] [bigint] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IntentosDePago]    Script Date: 24/06/2021 23:15:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IntentosDePago](
	[intentoid] [int] IDENTITY(1,1) NOT NULL,
	[monto] [money] NULL,
	[posttime] [datetime] NULL,
	[habito] [varchar](100) NULL,
	[referencenumber] [int] NULL,
	[checksum] [binary](50) NULL,
	[description] [varchar](100) NULL,
 CONSTRAINT [PK_IntentosDePago] PRIMARY KEY CLUSTERED 
(
	[intentoid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Merchants]    Script Date: 24/06/2021 23:15:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Merchants](
	[merchantid] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Merchants] PRIMARY KEY CLUSTERED 
(
	[merchantid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MontosHabitos]    Script Date: 24/06/2021 23:15:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MontosHabitos](
	[montoid] [bigint] IDENTITY(1,1) NOT NULL,
	[monto] [money] NOT NULL,
	[entidad] [tinyint] NOT NULL,
	[entidadreference] [bigint] NOT NULL,
	[habitopatrocinadoid] [nchar](10) NULL,
 CONSTRAINT [PK_MontosHabitos] PRIMARY KEY CLUSTERED 
(
	[montoid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pagos]    Script Date: 24/06/2021 23:15:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pagos](
	[pagoid] [bigint] IDENTITY(1,1) NOT NULL,
	[posttime] [datetime] NOT NULL,
	[monto] [money] NOT NULL,
	[currencysymbol] [nvarchar](30) NOT NULL,
	[errornumber] [bigint] NULL,
	[merchanttransnumber] [int] NOT NULL,
	[descripcion] [nvarchar](200) NOT NULL,
	[referenceid] [bigint] NULL,
	[checksum] [varbinary](500) NOT NULL,
	[entidadreference] [bigint] NOT NULL,
	[estadopagoidpay] [smallint] NOT NULL,
	[merchantidpay] [int] NOT NULL,
	[tipopagoidpay] [int] NOT NULL,
	[entidad] [tinyint] NOT NULL,
 CONSTRAINT [PK_Pagos] PRIMARY KEY CLUSTERED 
(
	[pagoid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Poblacion]    Script Date: 24/06/2021 23:15:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Poblacion](
	[poblacionid] [bigint] IDENTITY(1,1) NOT NULL,
	[cantidad] [int] NOT NULL,
	[ubicacion] [bigint] NOT NULL,
 CONSTRAINT [PK_Poblacion] PRIMARY KEY CLUSTERED 
(
	[poblacionid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Publicaciones]    Script Date: 24/06/2021 23:15:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Publicaciones](
	[publicacionid] [bigint] IDENTITY(1,1) NOT NULL,
	[caption] [nvarchar](500) NULL,
	[URL] [nvarchar](128) NOT NULL,
	[fecha] [datetime] NOT NULL,
	[deleted] [bit] NOT NULL,
	[updatepost] [bit] NOT NULL,
	[imagen] [image] NULL,
	[redsocial] [smallint] NOT NULL,
	[usuario] [bigint] NOT NULL,
	[resumen] [bigint] NOT NULL,
 CONSTRAINT [PK_Publicaciones] PRIMARY KEY CLUSTERED 
(
	[publicacionid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reacciones]    Script Date: 24/06/2021 23:15:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reacciones](
	[reaccionid] [bigint] IDENTITY(1,1) NOT NULL,
	[userreference] [bigint] NOT NULL,
	[post] [bigint] NOT NULL,
	[tiporeaccion] [smallint] NOT NULL,
 CONSTRAINT [PK_Reacciones] PRIMARY KEY CLUSTERED 
(
	[reaccionid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Resumenes]    Script Date: 24/06/2021 23:15:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Resumenes](
	[resumenid] [bigint] IDENTITY(1,1) NOT NULL,
	[fecha] [datetime] NOT NULL,
	[caption] [nvarchar](500) NULL,
 CONSTRAINT [PK_ResumenesHabitos] PRIMARY KEY CLUSTERED 
(
	[resumenid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Severidades]    Script Date: 24/06/2021 23:15:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Severidades](
	[severidadid] [int] IDENTITY(1,1) NOT NULL,
	[nombreseveridad] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Severidades] PRIMARY KEY CLUSTERED 
(
	[severidadid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tags]    Script Date: 24/06/2021 23:15:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tags](
	[tagid] [bigint] IDENTITY(1,1) NOT NULL,
	[tag] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Tags] PRIMARY KEY CLUSTERED 
(
	[tagid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TagsPorAds]    Script Date: 24/06/2021 23:15:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TagsPorAds](
	[tag] [bigint] NOT NULL,
	[ad] [bigint] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TagsPorPosts]    Script Date: 24/06/2021 23:15:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TagsPorPosts](
	[tag] [bigint] NOT NULL,
	[post] [bigint] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoPago]    Script Date: 24/06/2021 23:15:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoPago](
	[tipopagoid] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TipoPago] PRIMARY KEY CLUSTERED 
(
	[tipopagoid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TiposBitacoras]    Script Date: 24/06/2021 23:15:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TiposBitacoras](
	[tipobitacoraid] [int] IDENTITY(1,1) NOT NULL,
	[nombretipobitacora] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TiposBitacoras] PRIMARY KEY CLUSTERED 
(
	[tipobitacoraid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transacciones]    Script Date: 24/06/2021 23:15:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transacciones](
	[transaccionid] [bigint] IDENTITY(1,1) NOT NULL,
	[posttime] [datetime] NOT NULL,
	[amount] [float] NULL,
	[descripcion] [nvarchar](150) NOT NULL,
	[checksum] [varbinary](500) NOT NULL,
	[IP] [varchar](16) NOT NULL,
	[refid1] [bigint] NULL,
	[refid2] [bigint] NULL,
	[entidad] [tinyint] NOT NULL,
	[transtypes] [smallint] NOT NULL,
 CONSTRAINT [PK_Transacciones] PRIMARY KEY CLUSTERED 
(
	[transaccionid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Trantypes]    Script Date: 24/06/2021 23:15:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trantypes](
	[transtypeid] [smallint] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Trantypes] PRIMARY KEY CLUSTERED 
(
	[transtypeid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ubicaciones]    Script Date: 24/06/2021 23:15:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ubicaciones](
	[ubicacionid] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NULL,
	[poblacion] [float] NULL,
	[latitud] [decimal](10, 8) NULL,
	[longitud] [decimal](10, 8) NOT NULL,
	[radio] [decimal](5, 2) NULL,
 CONSTRAINT [PK_Ubicaciones] PRIMARY KEY CLUSTERED 
(
	[ubicacionid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UbicacionesDeUsuario]    Script Date: 24/06/2021 23:15:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UbicacionesDeUsuario](
	[ubicacionusuarioid] [int] NOT NULL,
	[nombre] [varchar](100) NULL,
	[latitud] [decimal](10, 8) NULL,
	[longitud] [decimal](10, 8) NULL,
 CONSTRAINT [PK_UbicacionesDeUsuario] PRIMARY KEY CLUSTERED 
(
	[ubicacionusuarioid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UbicacionesPorHabitos]    Script Date: 24/06/2021 23:15:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UbicacionesPorHabitos](
	[ubicacionid] [bigint] IDENTITY(1,1) NOT NULL,
	[habitoid] [int] NOT NULL,
	[longitud] [geography] NOT NULL,
	[latitud] [geography] NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
	[deleted] [bit] NOT NULL,
 CONSTRAINT [PK_UbicacionesPorHabitos] PRIMARY KEY CLUSTERED 
(
	[ubicacionid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UbicacionesPorUsuario]    Script Date: 24/06/2021 23:15:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UbicacionesPorUsuario](
	[ubicacionid] [int] IDENTITY(1,1) NOT NULL,
	[longitud] [geography] NOT NULL,
	[latitud] [geography] NOT NULL,
	[usuario] [bigint] NOT NULL,
	[actual] [bit] NOT NULL,
 CONSTRAINT [PK_UbicacionesPorUsuario] PRIMARY KEY CLUSTERED 
(
	[ubicacionid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 24/06/2021 23:15:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[userid] [bigint] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[apellido] [varchar](100) NOT NULL,
	[username] [varchar](100) NOT NULL,
	[deleted] [bit] NOT NULL,
	[validaciontoken] [bigint] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[userid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ValidacionRRSS]    Script Date: 24/06/2021 23:15:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ValidacionRRSS](
	[validacionid] [bigint] IDENTITY(1,1) NOT NULL,
	[token] [nvarchar](300) NOT NULL,
	[posttime] [datetime] NOT NULL,
	[tokenvalido] [bit] NOT NULL,
	[redsocial] [smallint] NOT NULL,
	[tiempo] [bigint] NOT NULL,
 CONSTRAINT [PK_ValidacionRRSS] PRIMARY KEY CLUSTERED 
(
	[validacionid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Ads]  WITH CHECK ADD  CONSTRAINT [FK_Ads_Empresas] FOREIGN KEY([entidadreferenceid])
REFERENCES [dbo].[Empresas] ([empresaid])
GO
ALTER TABLE [dbo].[Ads] CHECK CONSTRAINT [FK_Ads_Empresas]
GO
ALTER TABLE [dbo].[Ads]  WITH CHECK ADD  CONSTRAINT [FK_Ads_Habitos] FOREIGN KEY([habito])
REFERENCES [dbo].[Habitos] ([habitoid])
GO
ALTER TABLE [dbo].[Ads] CHECK CONSTRAINT [FK_Ads_Habitos]
GO
ALTER TABLE [dbo].[Ads]  WITH CHECK ADD  CONSTRAINT [FK_Ads_Users] FOREIGN KEY([entidadreferenceid])
REFERENCES [dbo].[Users] ([userid])
GO
ALTER TABLE [dbo].[Ads] CHECK CONSTRAINT [FK_Ads_Users]
GO
ALTER TABLE [dbo].[Aportes]  WITH CHECK ADD  CONSTRAINT [FK_Aportes_Habitos] FOREIGN KEY([habitoid])
REFERENCES [dbo].[Habitos] ([habitoid])
GO
ALTER TABLE [dbo].[Aportes] CHECK CONSTRAINT [FK_Aportes_Habitos]
GO
ALTER TABLE [dbo].[AportesPorResumen]  WITH CHECK ADD  CONSTRAINT [FK_AportesPorResumen_Aportes] FOREIGN KEY([aporte])
REFERENCES [dbo].[Aportes] ([aporteid])
GO
ALTER TABLE [dbo].[AportesPorResumen] CHECK CONSTRAINT [FK_AportesPorResumen_Aportes]
GO
ALTER TABLE [dbo].[AportesPorResumen]  WITH CHECK ADD  CONSTRAINT [FK_AportesPorResumen_ResumenesHabitos] FOREIGN KEY([resumen])
REFERENCES [dbo].[Resumenes] ([resumenid])
GO
ALTER TABLE [dbo].[AportesPorResumen] CHECK CONSTRAINT [FK_AportesPorResumen_ResumenesHabitos]
GO
ALTER TABLE [dbo].[Bitacoras]  WITH CHECK ADD  CONSTRAINT [FK_Bitacoras_AppFuente] FOREIGN KEY([appfuentebit])
REFERENCES [dbo].[AppFuente] ([appfuenteid])
GO
ALTER TABLE [dbo].[Bitacoras] CHECK CONSTRAINT [FK_Bitacoras_AppFuente]
GO
ALTER TABLE [dbo].[Bitacoras]  WITH CHECK ADD  CONSTRAINT [FK_Bitacoras_EntityTypes] FOREIGN KEY([entitybit])
REFERENCES [dbo].[EntityTypes] ([EntityTypes])
GO
ALTER TABLE [dbo].[Bitacoras] CHECK CONSTRAINT [FK_Bitacoras_EntityTypes]
GO
ALTER TABLE [dbo].[Bitacoras]  WITH CHECK ADD  CONSTRAINT [FK_Bitacoras_Severidades] FOREIGN KEY([severidadbit])
REFERENCES [dbo].[Severidades] ([severidadid])
GO
ALTER TABLE [dbo].[Bitacoras] CHECK CONSTRAINT [FK_Bitacoras_Severidades]
GO
ALTER TABLE [dbo].[Bitacoras]  WITH CHECK ADD  CONSTRAINT [FK_Bitacoras_TiposBitacoras] FOREIGN KEY([logtypebit])
REFERENCES [dbo].[TiposBitacoras] ([tipobitacoraid])
GO
ALTER TABLE [dbo].[Bitacoras] CHECK CONSTRAINT [FK_Bitacoras_TiposBitacoras]
GO
ALTER TABLE [dbo].[Habitos]  WITH CHECK ADD  CONSTRAINT [FK_Habitos_TipoHabitos] FOREIGN KEY([tipohabito])
REFERENCES [dbo].[TipoHabitos] ([tipoid])
GO
ALTER TABLE [dbo].[Habitos] CHECK CONSTRAINT [FK_Habitos_TipoHabitos]
GO
ALTER TABLE [dbo].[HabitosAplicados]  WITH CHECK ADD  CONSTRAINT [FK_HabitosAplicados_Habitos] FOREIGN KEY([habito])
REFERENCES [dbo].[Habitos] ([habitoid])
GO
ALTER TABLE [dbo].[HabitosAplicados] CHECK CONSTRAINT [FK_HabitosAplicados_Habitos]
GO
ALTER TABLE [dbo].[HabitosAplicados]  WITH CHECK ADD  CONSTRAINT [FK_HabitosAplicados_Users] FOREIGN KEY([usuario])
REFERENCES [dbo].[Users] ([userid])
GO
ALTER TABLE [dbo].[HabitosAplicados] CHECK CONSTRAINT [FK_HabitosAplicados_Users]
GO
ALTER TABLE [dbo].[HabitosPatrocinados]  WITH CHECK ADD  CONSTRAINT [FK_HabitosPatrocinados_Entidad] FOREIGN KEY([entidad])
REFERENCES [dbo].[Entidad] ([entidadid])
GO
ALTER TABLE [dbo].[HabitosPatrocinados] CHECK CONSTRAINT [FK_HabitosPatrocinados_Entidad]
GO
ALTER TABLE [dbo].[HabitosPatrocinados]  WITH CHECK ADD  CONSTRAINT [FK_HabitosPatrocinados_Habitos] FOREIGN KEY([habitoid])
REFERENCES [dbo].[Habitos] ([habitoid])
GO
ALTER TABLE [dbo].[HabitosPatrocinados] CHECK CONSTRAINT [FK_HabitosPatrocinados_Habitos]
GO
ALTER TABLE [dbo].[HabitosPorResumenes]  WITH CHECK ADD  CONSTRAINT [FK_HabitosPorResumenes_HabitosAplicados] FOREIGN KEY([habito])
REFERENCES [dbo].[HabitosAplicados] ([habitoaplicadoid])
GO
ALTER TABLE [dbo].[HabitosPorResumenes] CHECK CONSTRAINT [FK_HabitosPorResumenes_HabitosAplicados]
GO
ALTER TABLE [dbo].[HabitosPorResumenes]  WITH CHECK ADD  CONSTRAINT [FK_HabitosPorResumenes_ResumenesHabitos] FOREIGN KEY([resumen])
REFERENCES [dbo].[Resumenes] ([resumenid])
GO
ALTER TABLE [dbo].[HabitosPorResumenes] CHECK CONSTRAINT [FK_HabitosPorResumenes_ResumenesHabitos]
GO
ALTER TABLE [dbo].[MontosHabitos]  WITH CHECK ADD  CONSTRAINT [FK_MontosHabitos_Entidad] FOREIGN KEY([entidad])
REFERENCES [dbo].[Entidad] ([entidadid])
GO
ALTER TABLE [dbo].[MontosHabitos] CHECK CONSTRAINT [FK_MontosHabitos_Entidad]
GO
ALTER TABLE [dbo].[Pagos]  WITH CHECK ADD  CONSTRAINT [FK_Pagos_Empresas] FOREIGN KEY([entidadreference])
REFERENCES [dbo].[Empresas] ([empresaid])
GO
ALTER TABLE [dbo].[Pagos] CHECK CONSTRAINT [FK_Pagos_Empresas]
GO
ALTER TABLE [dbo].[Pagos]  WITH CHECK ADD  CONSTRAINT [FK_Pagos_Entidad] FOREIGN KEY([entidad])
REFERENCES [dbo].[Entidad] ([entidadid])
GO
ALTER TABLE [dbo].[Pagos] CHECK CONSTRAINT [FK_Pagos_Entidad]
GO
ALTER TABLE [dbo].[Pagos]  WITH CHECK ADD  CONSTRAINT [FK_Pagos_EstadosPago] FOREIGN KEY([estadopagoidpay])
REFERENCES [dbo].[EstadosPago] ([estadopagoid])
GO
ALTER TABLE [dbo].[Pagos] CHECK CONSTRAINT [FK_Pagos_EstadosPago]
GO
ALTER TABLE [dbo].[Pagos]  WITH CHECK ADD  CONSTRAINT [FK_Pagos_Merchants] FOREIGN KEY([merchantidpay])
REFERENCES [dbo].[Merchants] ([merchantid])
GO
ALTER TABLE [dbo].[Pagos] CHECK CONSTRAINT [FK_Pagos_Merchants]
GO
ALTER TABLE [dbo].[Pagos]  WITH CHECK ADD  CONSTRAINT [FK_Pagos_TipoPago] FOREIGN KEY([tipopagoidpay])
REFERENCES [dbo].[TipoPago] ([tipopagoid])
GO
ALTER TABLE [dbo].[Pagos] CHECK CONSTRAINT [FK_Pagos_TipoPago]
GO
ALTER TABLE [dbo].[Pagos]  WITH CHECK ADD  CONSTRAINT [FK_Pagos_Users1] FOREIGN KEY([entidadreference])
REFERENCES [dbo].[Users] ([userid])
GO
ALTER TABLE [dbo].[Pagos] CHECK CONSTRAINT [FK_Pagos_Users1]
GO
ALTER TABLE [dbo].[Poblacion]  WITH CHECK ADD  CONSTRAINT [FK_Poblacion_UbicacionesPorHabitos1] FOREIGN KEY([ubicacion])
REFERENCES [dbo].[UbicacionesPorHabitos] ([ubicacionid])
GO
ALTER TABLE [dbo].[Poblacion] CHECK CONSTRAINT [FK_Poblacion_UbicacionesPorHabitos1]
GO
ALTER TABLE [dbo].[Publicaciones]  WITH CHECK ADD  CONSTRAINT [FK_Publicaciones_RedesSociales] FOREIGN KEY([redsocial])
REFERENCES [dbo].[RedesSociales] ([redessocialesid])
GO
ALTER TABLE [dbo].[Publicaciones] CHECK CONSTRAINT [FK_Publicaciones_RedesSociales]
GO
ALTER TABLE [dbo].[Publicaciones]  WITH CHECK ADD  CONSTRAINT [FK_Publicaciones_ResumenesHabitos] FOREIGN KEY([resumen])
REFERENCES [dbo].[Resumenes] ([resumenid])
GO
ALTER TABLE [dbo].[Publicaciones] CHECK CONSTRAINT [FK_Publicaciones_ResumenesHabitos]
GO
ALTER TABLE [dbo].[Publicaciones]  WITH CHECK ADD  CONSTRAINT [FK_Publicaciones_Users] FOREIGN KEY([usuario])
REFERENCES [dbo].[Users] ([userid])
GO
ALTER TABLE [dbo].[Publicaciones] CHECK CONSTRAINT [FK_Publicaciones_Users]
GO
ALTER TABLE [dbo].[Reacciones]  WITH CHECK ADD  CONSTRAINT [FK_Reacciones_Publicaciones] FOREIGN KEY([post])
REFERENCES [dbo].[Publicaciones] ([publicacionid])
GO
ALTER TABLE [dbo].[Reacciones] CHECK CONSTRAINT [FK_Reacciones_Publicaciones]
GO
ALTER TABLE [dbo].[Reacciones]  WITH CHECK ADD  CONSTRAINT [FK_Reacciones_TipoReaccion] FOREIGN KEY([tiporeaccion])
REFERENCES [dbo].[TipoReaccion] ([tiporeaccionid])
GO
ALTER TABLE [dbo].[Reacciones] CHECK CONSTRAINT [FK_Reacciones_TipoReaccion]
GO
ALTER TABLE [dbo].[TagsPorAds]  WITH CHECK ADD  CONSTRAINT [FK_TagsPorAds_Ads] FOREIGN KEY([ad])
REFERENCES [dbo].[Ads] ([adid])
GO
ALTER TABLE [dbo].[TagsPorAds] CHECK CONSTRAINT [FK_TagsPorAds_Ads]
GO
ALTER TABLE [dbo].[TagsPorAds]  WITH CHECK ADD  CONSTRAINT [FK_TagsPorAds_Tags] FOREIGN KEY([tag])
REFERENCES [dbo].[Tags] ([tagid])
GO
ALTER TABLE [dbo].[TagsPorAds] CHECK CONSTRAINT [FK_TagsPorAds_Tags]
GO
ALTER TABLE [dbo].[TagsPorPosts]  WITH CHECK ADD  CONSTRAINT [FK_TagsPorPosts_Publicaciones] FOREIGN KEY([post])
REFERENCES [dbo].[Publicaciones] ([publicacionid])
GO
ALTER TABLE [dbo].[TagsPorPosts] CHECK CONSTRAINT [FK_TagsPorPosts_Publicaciones]
GO
ALTER TABLE [dbo].[TagsPorPosts]  WITH CHECK ADD  CONSTRAINT [FK_TagsPorPosts_Tags] FOREIGN KEY([tag])
REFERENCES [dbo].[Tags] ([tagid])
GO
ALTER TABLE [dbo].[TagsPorPosts] CHECK CONSTRAINT [FK_TagsPorPosts_Tags]
GO
ALTER TABLE [dbo].[Transacciones]  WITH CHECK ADD  CONSTRAINT [FK_Transacciones_Entidad] FOREIGN KEY([entidad])
REFERENCES [dbo].[Entidad] ([entidadid])
GO
ALTER TABLE [dbo].[Transacciones] CHECK CONSTRAINT [FK_Transacciones_Entidad]
GO
ALTER TABLE [dbo].[Transacciones]  WITH CHECK ADD  CONSTRAINT [FK_Transacciones_Trantypes] FOREIGN KEY([transtypes])
REFERENCES [dbo].[Trantypes] ([transtypeid])
GO
ALTER TABLE [dbo].[Transacciones] CHECK CONSTRAINT [FK_Transacciones_Trantypes]
GO
ALTER TABLE [dbo].[UbicacionesPorHabitos]  WITH CHECK ADD  CONSTRAINT [FK_UbicacionesPorHabitos_Habitos] FOREIGN KEY([habitoid])
REFERENCES [dbo].[Habitos] ([habitoid])
GO
ALTER TABLE [dbo].[UbicacionesPorHabitos] CHECK CONSTRAINT [FK_UbicacionesPorHabitos_Habitos]
GO
ALTER TABLE [dbo].[UbicacionesPorUsuario]  WITH CHECK ADD  CONSTRAINT [FK_UbicacionesPorUsuario_Users] FOREIGN KEY([usuario])
REFERENCES [dbo].[Users] ([userid])
GO
ALTER TABLE [dbo].[UbicacionesPorUsuario] CHECK CONSTRAINT [FK_UbicacionesPorUsuario_Users]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_ValidacionRRSS] FOREIGN KEY([validaciontoken])
REFERENCES [dbo].[ValidacionRRSS] ([validacionid])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_ValidacionRRSS]
GO
ALTER TABLE [dbo].[ValidacionRRSS]  WITH CHECK ADD  CONSTRAINT [FK_ValidacionRRSS_RedesSociales] FOREIGN KEY([redsocial])
REFERENCES [dbo].[RedesSociales] ([redessocialesid])
GO
ALTER TABLE [dbo].[ValidacionRRSS] CHECK CONSTRAINT [FK_ValidacionRRSS_RedesSociales]
GO
/****** Object:  StoredProcedure [dbo].[InsertarTipoReacciones]    Script Date: 24/06/2021 23:15:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertarTipoReacciones] AS
INSERT INTO dbo.TipoReaccion (nombre)
VALUES
('Me gusta'),
('Me encanta'),
('Me sorprende'),
('Me enoja'),
('Me entristese'),
('Me divierte')

GO
/****** Object:  StoredProcedure [dbo].[RegistrarHabito]    Script Date: 24/06/2021 23:15:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RegistrarHabito]
	@nombre nvarchar(100),
	@descripcion nvarchar(100),
	@imagenURL nvarchar(128),
	@fechainicio datetime,
	@fechafinal datetime,
	@tipohabito nvarchar(100)
AS
	DECLARE @tipohabitoid smallint

	SET @tipohabitoid = (SELECT tipoid FROM dbo.TipoHabitos WHERE dbo.TipoHabitos.nombre=@tipohabito)

	IF NULLIF(@tipohabitoid, '') IS NULL
	BEGIN
		RAISERROR ('El tipo de hábito no existe, porfavor ingrese un tipo de hábito válido.', 1, 1) 
		RETURN
	END

	IF  NULLIF(@fechainicio, '') IS NOT NULL AND NULLIF(@fechafinal, '') IS NOT NULL
		INSERT INTO dbo.Habitos (nombre, descripcion, imagenURL, tipohabito, fechainicio, fechafinal, deleted)
		VALUES (@nombre, @descripcion, @imagenURL, @tipohabitoid, @fechainicio, @fechafinal, 0)

	ELSE IF NULLIF(@fechainicio, '') IS NOT NULL
		INSERT INTO dbo.Habitos (nombre, descripcion, imagenURL, tipohabito, fechainicio, deleted)
		VALUES (@nombre, @descripcion, @imagenURL, @tipohabitoid, @fechainicio, 0)

	ELSE IF NULLIF(@fechafinal, '') IS NOT NULL
		INSERT INTO dbo.Habitos (nombre, descripcion, imagenURL, tipohabito, fechainicio, fechafinal, deleted)
		VALUES (@nombre, @descripcion, @imagenURL, @tipohabitoid, GETDATE(), @fechafinal, 0)

	ELSE IF NULLIF(@fechainicio, '') IS NULL AND NULLIF(@fechafinal, '') IS NULL
		INSERT INTO dbo.Habitos (nombre, descripcion, imagenURL, tipohabito, fechainicio, deleted)
		VALUES (@nombre, @descripcion, @imagenURL, @tipohabitoid, GETDATE(), 0)
GO
/****** Object:  StoredProcedure [dbo].[RegistrarUsuario]    Script Date: 24/06/2021 23:15:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RegistrarUsuario] 
	@redsocial nvarchar(50)
AS
	
	DECLARE @redsocialid smallint
	DECLARE @token bigint
	DECLARE @nombre nvarchar(100)
	DECLARE @apellido nvarchar(100)

	SET @redsocialid = (SELECT redessocialesid FROM dbo.RedesSociales WHERE dbo.RedesSociales.nombre = @redsocial)

	IF NULLIF(@redsocialid, '') IS NULL
	BEGIN
		RAISERROR ('La red social ingresada no existe, porfavor vuelva ingrese una red social válida.', 1, 1) 
		RETURN
	END

	--simulación de obtebción de token
	SET @token = FLOOR(RAND()*100000000000)

		INSERT INTO dbo.ValidacionRRSS (token, posttime, tokenvalido, redsocial, tiempo)
		VALUES (@token, GETDATE(), 1, @redsocialid, 100000000)

	BEGIN TRAN
		-- simulo la obtencion de nombre

		SET @nombre = FLOOR(RAND()*10000)
		SET @apellido = FLOOR(RAND()*10000)

		INSERT INTO dbo.Users (nombre, apellido, username, deleted, validaciontoken)
		VALUES (@nombre, @apellido, 
		cast(@nombre as varchar(100))+cast(@apellido as varchar(100))+cast(FLOOR(RAND()*1000) as varchar(100)), 0, (SELECT MAX(validacionid) FROM dbo.ValidacionRRSS))

	COMMIT
GO
USE [master]
GO
